*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

img{
    max-width: 100%;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
.background{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 70vh;
    gap: 3px;
    
}

.picture{
    position: relative;
    width: calc(100% / 7 - (18px / 7));
   

}

span{
    padding: 2px;
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 0;
    background-color: rgba(70, 68, 68, 0.4);
}


/* footer */

ul{
    list-style-type: none;
    text-align: center;
    font-size: large;

}

p{
    display: flex;
    font-size: 1vw;
    flex-wrap: nowrap;
}

footer{
    display: flex;
    position: relative;
    background-color: #222222;
    width: 100%;
    height: 10vh;
}


.stop{
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    gap: 3%;
}

.mid{
    display: flex;
    width: 50vw;
    height: 100%;
    justify-content: center;
}

.end{
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: flex-end;
}
.mute{
    width: 25%;
}
.icon{
    color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.center{
    display: flex;
    gap: 10px;
    
}

button{
    background-color:#222222;
    border: none;
    color: #fff;
}